<main>
    <button type="button" class="button blue mobile" id="cadastrarCliente">Cadastrar Cliente</button>
    {% include 'firstapp/html/exibir-clientes.html' %}
    <div class="modal" id="modal">
        <div class="modal-content">
            <header class="modal-header">
                <h2>Novo Cliente</h2>
                <span class="modal-close" id="modalClose">&#10006;</span>
            </header>
            <form class="modal-form">
                <input type="text" class="modal-field" placeholder="Nome do Cliente">
                <input type="email" class="modal-field" placeholder="e-mail do Cliente">
                <input type="text" class="modal-field" placeholder="Celular do Cliente">
                <input type="text" class="modal-field" placeholder="Cidade do Cliente">
            </form>
            <footer class="modal-footer">
                <button class="button green">Salvar</button>
                <button class="button blue">Cancelar</button>
            </footer>
        </div>
    </div>
</main>