{% load static %}
<main>
    {% include 'firstapp/html/exibir-clientes.html' %}
    <div class="modal" id="modal">
        <div class="modal-content">
            <header class="modal-header">
                <h2>Editar Cliente</h2>
                <span class="modal-close" id="modalClose">&#10006;</span>
            </header>
            <form class="modal-form" action="/submit/" method="POST">
                    {% csrf_token %}
                    <input type="text" class="modal-field" name="nome_cliente" value="{{ cadastro.nome }}" placeholder="Nome do Cliente" required>
                    <input type="email" class="modal-field" name="email_cliente" value="{{ cadastro.email }}" placeholder="e-mail do Cliente" required>
                    <input type="text" class="modal-field" name="celular_cliente" value="{{ cadastro.numero_celular }}" placeholder="Celular do Cliente" required>
                    <input type="text" class="modal-field" name="cidade_cliente" value="{{ cadastro.cidade }}" placeholder="Cidade do Cliente"  required>
                
                <footer class="modal-footer">
                    <button class="button green" type="submit">Salvar</button>
                    <button class="button blue">Cancelar</button>
                </footer>
            </form>
        </div>
    </div>
</main>