<table class="records">
    <thead>
        <tr>
            <th>Nome</th>
            <th>E-mail</th>
            <th>Celular</th>
            <th>Cidade</th>
            <th>Ação</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Eliana</td>
            <td>maria@gmail.com</td>
            <td>(11) 97165-1111</td>
            <td>Anapolis</td>
            <td>
                <button type="button" class="button green">editar</button>
                <button type="button" class="button red">excluir</button>
            </td>
        </tr>
    </tbody>
</table>