<table class="records">
    <thead>
        <tr>
            <th>Nome</th>
            <th>E-mail</th>
            <th>Celular</th>
            <th>Cidade</th>
            <th>Ação</th>
        </tr>
    </thead>
    <tbody>
        {% for cadastro in cadastros %}
            <tr>
                <td>{{ cadastro.nome }}</td>
                <td>{{ cadastro.email }}</td>
                <td>{{ cadastro.numero_celular }}</td>
                <td>{{ cadastro.cidade }}</td>
                <td>
                     <button type="button" class="button green"><a href="{% url 'url_update' cadastro.id %}" style="text-decoration:none">Editar</a></button>
                     <button type="button" class="button red"><a href="delete/{{ cadastro.id }}/" style="text-decoration:none">Excluir</a></button>
                    </td> 
            </tr>
        {% endfor %}
    </tbody>
</table>